/* :root{
    --bs-gold: #e08010;
    --bs-blue: #012a59;
    --bs-bluehover: #044691;   
} */

footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* width: 100vw; */
}
.footer{
    background: var(--bs-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    /* width: 100vw; */
    
}
#footerA{
    width: 50%;
    padding: 20px;
    line-height: 1.6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.link_box ul li{
    list-style: none;

}
.email a,#contactno{
    color: white;
    text-decoration: none;
}
.link_box ul li a,.address p a{
    text-decoration: none;
    color: white;
}
#ulfooter li a:hover {
    background: var(--bs-bluehover);
    cursor: pointer;
}
.copyright{
    color: rgb(77, 77, 77);
    padding: 2px;
}
@media screen and (max-width: 999px) {
    .footer{
        justify-content: center;
        align-items: center;
        
    }
    .footer{
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    #footerA{
        text-align: center;
        
        
    }

}